* {
    padding: 0;
    margin: 0;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    height: 45px;
    width: 100%;
    padding-top: 9px;
    color: white;
    background-color: rgb(255, 81, 0);
    z-index: 999;
}
.header .networks i{ padding-left: 7px;
cursor: pointer; }

.main1 {
    height: 505px;
    width: 100%;
    background-color: rgba(2, 2, 15, 0.904);
    border-bottom-right-radius: 290px;
    color: white;
padding-top: 42px;
}

.top {
    display: flex;
    justify-content: space-around;
    padding: 50px 3px;
}

.quote {
    right: 33px;
    background-color: rgb(255, 81, 0);
    border: 2px solid rgb(255, 81, 0);
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 20px;
    border-top-right-radius: 12px;
    padding: 12px;
    height: 22px;
}

.links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 12px;
}

.links a:first-child {
    background-color: rgb(255, 81, 0);
    border-radius: 10px;
    padding: 13px;
}

.text {
    margin: 33px ;
}

.text h2 {
    padding: 23px;
}

.text span {
    color: rgb(255, 81, 0);
}
.links2{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.links2 a {
    margin: 14px;
    text-decoration: none;
    color: white;
    background-color: rgb(255, 81, 0);
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 70px;
    border-top-left-radius: 7px;
    border-top-right-radius: 70px;
    padding: 20px ;
    height: 15px;
    width: 99px;
    text-align: center;
}
.links2 a:last-child {
    color: rgb(14, 13, 13);
    width: 109px;
    background-color: rgb(255, 254, 254);
}

.links2 a:hover {
    opacity: 0.6;
}

/* main2 */
.main2 {
    width: 100%;
    margin-top: 22px;
}

h2 {
    position: relative;
    text-align: center;
    font-size: 32px;
}

.text2 h2::after {
    position: absolute;
    top: 39px;
    right: 44%;
    content: "";
    width: 12%;
    height: 4px;
    background: rgb(255, 81, 0);
}

.grid1 {
    display: flex;
    margin: 32px ;
    justify-content: center;
    gap: 22px;
}

.grid1Text {
    background: white;
    box-shadow: 3px 1px 14px rgba(138, 134, 128, 0.952);
    padding:  19px;
    height: 222px;
    margin-top: 23px;
}

.grid1Text p {
    font-size: 18px;
}

/* main3 */
.main3 {
    margin: 42px auto;
    width: 100%;
}
.text3 h2{
    margin: 42px;
}
.text3 h2::after {
    position: absolute;
    top: 40px;
    right: 36.5%;
    content: "";
    width: 27%;
    height: 4px;
    background: rgb(255, 81, 0);
}
.main3 .grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
margin: auto 244px; 
gap: 16px;
}
.grid2Item{
  width: 400px;
    height: 239px;
    background-color: white;
    box-shadow: 3px 1px 14px rgba(138, 134, 128, 0.952);

}
.grid2Item p{
    padding: 19px;
}
.grid2Item h2{
    position: relative;
    margin-top: 9px;
    text-align: center;
font-size: 25px;
}
.grid2Item h2::after{
  position: absolute;
  top: 29px;
  left: 169px;
  width: 15%;
  height: 4px;
  content: "";
  background: rgb(255, 81, 0);
}
.grid2Item ul{
    margin: 18px 0  0 33px; 
}
img{
    height: 240px;
    width: 400px;
    object-fit:cover;
    /* margin: 2px; */
}
/* main4 */
.main4{
    width: 100%;
    height: 550px;
    background-image: url("./img/img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit:cover;

}
.contact {
    position: relative;
    width: 112px;
    text-align: center;
top: 74px; 
left: 22px;
   background-color: rgb(255, 81, 0);
    /* border: 2px solid rgb(255, 81, 0); */
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 35px;
    border-top-right-radius: 5px;
    padding: 7px;
}
.contact:hover{
    background-color: rgba(252, 77, 8, 0.986);
    opacity: 0.9;
    color: white;
}
/* main5 */
.main5{
    background-color: rgba(187, 183, 183, 0.253);
        width: 100%;
    height: 770px;
}
.text4 h2{
    padding: 50px;

}

.text4 h2::after {
    position: absolute;
    top: 85px;
    right: 39%;
    content: "";
    width: 22%;
    height: 4px;
    background: rgb(255, 81, 0);
}
.main5 .grid3{
    display: flex;
justify-content: space-around;
gap: 13px;
padding: 12px;

}
.main5 .grid3 .grid3Item{
    background-color: black;
    color: white;
    padding-top:  23px;
    width: 330px;
    height: 529px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        justify-content: center;    border-top-left-radius: 53px ;
    border-bottom-right-radius: 53px;

}
.grid3 .grid3Item:nth-child(2){
    background-color: white;
    color: black;
}
.main5 h4{
        text-align: center;
}
.main5 h1{
        text-align: center;
    font-size: 60px;
}
.main5 p{
        text-align: center;
    color:rgb(255, 81, 0);
}

.main5 ul li{
    position: relative;
    list-style: none;
    padding: 9px;
    margin-left: 37px;
}
.main5 li::after{
    position: absolute;
  left: 9px;
  width: 68%;
  margin: 27px 0;
  height: 2px;
  content: " ";
  background: rgb(255, 81, 0);

}
.main5 .grid3Item h3 {
    border: 2px solid white;
    width: 150px;
    padding: 7px;
    margin:39px 72px;
    height: 29px;
text-align: center;
color: white;
border-bottom-right-radius: 35px;
border-bottom-left-radius: 5px;
border-top-left-radius: 35px;
}
.main5 .grid3Item:nth-child(2) h3 {
    background-color: white;
    color: black;
    border: 2px solid black;
}
.main5 p:last-child{
font-size: 13px;}

/* main6 */
.main6{
    padding-top: 55px;
        width: 100%;
    height: 770px;
}
.main6 .grid4{
padding: 12px;    display: flex;
justify-content: space-around;
gap: 15px;
}
.main6 .grid4Item{
    background-color: rgba(204, 201, 201, 0.705);
    color: rgb(0, 0, 0);
    padding-top: 23px;
    width: 336px;
    height: 529px;
    /* text-align: center; */
    border-top-left-radius: 53px ;
    border-bottom-right-radius: 53px;

}
.main6 .grid4Item:nth-child(2){
    background-color:black;
    color: white;
}
.main6 h4{
        text-align: center;
        padding: 9px;
}
.main6 h1{
        text-align: center;
    font-size: 60px;
}
.main6 p{
        text-align: center;
    color:rgb(255, 81, 0);
}
.main6 .grid4Item h3 {
      border: 2px solid black;
    width: 150px;
    height: 29px;
    padding: 7px;
    margin: 37px 72px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 35px;
    border-top-right-radius: 5px;
    text-align: center;
}
.main6 .grid4Item:nth-child(2) h3 {
    color: white;
    border: 2px solid white;
}
.main6 .grid4Item h3:hover {
    font-size:x-large ;
}
.main6 ul li{position: relative;
    list-style: none;
    padding: 9px;
    margin-left: 37px;
}
.main6 li::after{
    position: absolute;
  left: 9px;
  width: 68%;
  margin: 27px 0;
  height: 2px;
  content: " ";
  background: rgb(255, 81, 0);

}
.main6 p:last-child{
font-size: 13px;}

/* /main7 */
.main7{
  
    width: 100%;
    height: 1550px;
    background-image: url("./img/img2.jpg");
object-fit:cover;
background-size: cover;
background-repeat: no-repeat;}
.main7 p{
    background: black;
    margin-top: 53px ;
    /* margin:  73px; */
    padding: 12px;
    height: 20px;
    color: white;
    text-align: center;
    font-size: 19px;
   
}
p span{
    color: rgb(241, 10, 10);
}
.main7 p:last-child {
    width: 122px;
    height: 23px;
    background-color: rgb(255, 81, 0);
    color: white;   
     margin:  73px;
    /* border: 2px solid rgb(255, 81, 0); */
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 35px;
    border-top-right-radius: 5px;
    padding: 12px;
}
.main7 p:last-child:hover{
    background-color:  rgb(255, 72, 0);
    opacity: 0.9;
    color: black;
}
/* footer */
footer{  
    background-color: rgb(17, 17, 17);
    color: #fff;
width: 100%;
height: 455px;
margin:  auto;
}
.text5 h2{padding: 43px;

}
.text5 h2::after {
    position: absolute;
    top: 85px;
    right:40%;
    content: "";
    width: 20%;
    height: 4px;
    background: rgb(255, 81, 0);
}
footer .grid5{
    display: grid;
    grid-template-columns: 1fr 1fr;
gap: 35px;
text-align: center;
justify-content: space-around;
}
footer .grid5Item{
    /* color: white; */
    /* background-color: none; */
    margin: 23px;
}
footer .grid5Item h1{
color: rgb(255, 81, 0);
text-align: center;
}
cite{
    background-color: beige;
    height: 29px;
    width: 100%;
    color: rgba(0, 0, 0, 0.616);
    text-align: center;
    margin-top: 23px;
}
cite p {
    padding-top: 12px;
}